<section class="last-container-box adjust">
        <div class="last-container-item-box">
            <div class="last-container-box-name">ABOUT</div>
            <a href="" class="last-container-a">Contact Us</a>
            <a href="" class="last-container-a">About Us</a>
            <a href="" class="last-container-a">Pizzas</a>
            <a href="" class="last-container-a">Corporate Information</a>
        </div>
        <div class="last-container-item-box">
            <div class="last-container-box-name">HELP</div>
            <a href="" class="last-container-a">Payments</a>
            <a href="" class="last-container-a">Shipping</a>
            <a href="" class="last-container-a">Cancellation &amp; Returns</a>
            <a href="" class="last-container-a">FAQ</a>
            <a href="" class="last-container-a">Report Infringement</a>
        </div>
        <div class="last-container-item-box">
            <div class="last-container-box-name">POLICY</div>
            <a href="" class="last-container-a">Terms Of Use</a>
            <a href="" class="last-container-a">Security</a>
            <a href="" class="last-container-a">Privacy</a>
            <a href="" class="last-container-a">Sitemap</a>
            <a href="" class="last-container-a">EPR Compliance</a>
        </div>
        <div class="last-container-item-box">
            <div class="last-container-box-name">SOCIAL</div>
            <a href="" class="last-container-a">Faceboox</a>
            <a href="" class="last-container-a">Twitter</a>
            <a href="" class="last-container-a">YouTube</a>
        </div>
        <div class="last-container-item-box control-box ">
            <div class="border-line">
                <div class="last-container-box-name">Mail Us:</div>
                <p class="last-container-p">Buildings Alyssa, Begonia &amp;</p>
                <p class="last-container-p">Clove Embassy Tech Village,</p>
                <p class="last-container-p">Outer Ring Road ,Devarabeesanahalli Village,</p>
                <p class="last-container-p">Bengaluru,560103</p>
            </div>
        </div>
        <div class="last-container-item-box control-box ">
            <div class="last-container-box-name">Registered Office Address</div>
            <p class="last-container-p">Buildings Alyssa, Begonia &amp;</p>
            <p class="last-container-p">Clove Embassy Tech Village,</p>
            <p class="last-container-p">Outer Ring Road ,Devarabeesanahalli Village,</p>
            <p class="last-container-p">Bengaluru,560103</p>
            <p class="last-container-p">Karnataka,India</p>
            <p class="last-container-p">CIN:U51109KA2013PTC066107</p>
            <p class="last-container-p">Telephone:<span class="phone-no">044-45614700</span></p>

        </div>
        
    </section>